@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section{
    width: 600px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,-0,-0,-0.1),0 4px 6px -2px rgba(0,-0,-0,-0.05);
}
.brand{
    padding: 20px;
    background:linear-gradient(320deg,#e75588 ,#333634);
    display: flex;
    align-items: center;
}


.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #f2ecec;
    margin-left: 10px;
}
.message__area{
    height: 420px;
    background:linear-gradient(320deg,#e9cad4 ,#a9a7a8);;
    border: solid 1px #b36d90 ;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y:auto ;
    padding-top:40px ;
}

textarea{
    width: 100%;
    border: solid 1px #b36d90 ;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background:linear-gradient(320deg,#f888af ,#b4b7b5);
}

.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background: #c73a80;
    color: #fff;
}

.outgoing{
    background: #cf9fb2;
    color: #626060;
    margin-left: auto;
}

.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}





